/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-oct-2020, 17:31:37
    Author     : usuario
*/

.contenedor{
    background-color: aqua;
  text-align: center;
    display:block;
    margin:auto;
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
    
}